<div class="conteiner-footer">
    <div class="conteiner-footer__links">
        <div class="conteiner-footer__links__institutional">
            <ul>
                <li *ngFor="let i of institutional"><a href="#">{{i}}</a></li>
            </ul>
        </div>
        <div class="conteiner-footer__links__social-media">
            <ul>
                <li *ngFor="let sm of socialMedia"><a href="#">{{sm}}</a></li>
            </ul>
        </div>
    </div>
    
    <div class="conteiner-footer__copyright">
        <p>₢ 2023</p>
    </div>
    
</div>
